.introCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1.5% 0;
}
.likeslist > div {
    font-size: 20px;
    text-align: center;
}

.tpl {
    margin-bottom: 20px;
}

.tpl2 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.tpl:last-child {
    margin-bottom: 3%;
}

.editorpick {
    background: #fff3cd;
    padding-bottom: 60px;
    padding-bottom: 5%;
}

.editorCard{
    width: 300px;
    background-color:#FCF5EB;
    height: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid rgba(51, 25, 4, 0.5);

}
.mb {
    padding-bottom: 400px;
}
