.lnm {
    font-size: 25px;
    border-bottom: 1px solid #331904;
    margin-bottom: 1%;
    padding-bottom: 1%;
}
.likesmenu1 {   /*좋아요*/
    font-weight: bold;
    text-align: right;
    margin-left: -1%;
    padding: 0;
}
.bar1 {   /* | */
    max-width: 2%;
    text-align: center;
    padding: 0;
}
.infomenu1 {   /*내정보*/
    text-align: left;
    padding: 0;
}
.infomenu1 a:link { text-decoration: none; }
.infomenu1 a:hover { color: #fd7e14; }
.infomenu1 a:visited { color: #331904; }
.infomenu1 a:active { color: #fd7e14; }

.temples {   /*좋아요를 누른 사찰*/
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #331904;
    text-align: left;
}
.likesncom {
    padding-top: 10px;
}
.likesncom > div:nth-child(2) {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.tpl {
    margin-bottom: 3%;
}
.temples-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.temples-list-item {
    border: 2px solid #984C0C;
    border-radius: 12px;
    margin: 2% 0;
    width: 100%;
    display: flex;
    padding: 1.5% 0;
    align-items: center;
}


.combtn {
    border: 1px solid #331904 !important;
    background-color: #331904 !important;
    display: flex !important;
    justify-content: right !important;
}
.combtn:active {
    border: 1px solid #984C0C !important;
    background-color: #984C0C !important;
}

.comlin { text-decoration: none; }
.comlin:visited { color: white; }
.comlin:active { color: white; }
.comlin:hover { color: white; }

.comtab {
    display: flex;
    justify-content: space-evenly;
}
.comtab table {
    text-align: center;
    border: 1px solid #331904;
    width: 1000px;
}
.comtab tr {
    border: 1px solid #331904;
}
.comtab th, .comtab td {
    border: 1px solid #331904;
}

.gobkbtn td button {
    border: 1px solid #984C0C !important;
    background-color: #984C0C !important;
}

.checkbox {
    padding-right: 15%;
    padding-left: 10%;
}